In [57]:
import numpy as np
import pandas as pd
import scipy.stats as st

from IPython.display import display

# Table 2

In [3]:
me = pd.read_csv("../data_input/me.tsv", sep="\t", header=0, index_col=0)
nm = pd.read_csv("../data_input/nm.tsv", sep="\t", header=0, index_col=0)

In [1]:
nm

NameError: name 'nm' is not defined

In [4]:
df = pd.concat([me, nm])

In [61]:
df_C_0w = df.T.query("group_timepoint == 'C_0w'").T
df_T_0w = df.T.query("group_timepoint == 'T_0w'").T
df_C_2w = df.T.query("group_timepoint == 'C_2w'").T
df_T_2w = df.T.query("group_timepoint == 'T_2w'").T
df_C_4w = df.T.query("group_timepoint == 'C_4w'").T
df_T_4w = df.T.query("group_timepoint == 'T_4w'").T
df_All = df.T.query("timepoint == '0w'").T

In [6]:
df_out2 = pd.DataFrame(
    columns=["CF", "FG", "All"],
    index=["sex", "age", "BMI", "排便回数", "量"]
)

In [7]:
for ind in df_out2.index:
    if ind == "sex":
        count_C = df_C.loc['sex'].value_counts()
        count_T = df_T.loc['sex'].value_counts()
        count_All = df_All.loc['sex'].value_counts()
        df_out2.loc[ind, "CF"] = f"{count_C.male}, {count_C.female}"
        df_out2.loc[ind, "FG"] = f"{count_T.male}, {count_T.female}"
        df_out2.loc[ind, "All"] = f"{count_All.male}, {count_All.female}"
        df_out2.loc[ind, "pval"] = "-"
    else:
        mean_C = df_C.loc[ind].astype(float).mean()
        mean_T = df_T.loc[ind].astype(float).mean()
        mean_All = df.loc[ind].astype(float).mean()
        std_C = df_C.loc[ind].astype(float).std()
        std_T = df_T.loc[ind].astype(float).std()
        std_All = df_All.loc[ind].astype(float).std()
        p = st.ttest_ind(df_C.loc[ind].astype(float), df_T.loc[ind].astype(float), equal_var=False).pvalue
        df_out2.loc[ind, "CF"] = f"{round(mean_C, 1)} ± {round(std_C, 1)}"
        df_out2.loc[ind, "FG"] = f"{round(mean_T, 1)} ± {round(std_T, 1)}"
        df_out2.loc[ind, "All"] = f"{round(mean_All, 1)} ± {round(std_All, 1)}"
        df_out2.loc[ind, "pval"] = round(p, 2)

In [8]:
df_out2

              CF           FG          All  pval
sex       18, 16       17, 16       35, 32     -
age   43.6 ± 9.1  43.9 ± 11.3  43.8 ± 10.2  0.93
BMI   21.1 ± 2.2   21.6 ± 2.6   21.3 ± 2.4  0.45
排便回数   0.8 ± 0.2    0.8 ± 0.2    0.9 ± 0.2  0.71
量      2.3 ± 1.1    2.3 ± 1.1    2.3 ± 1.1  0.93

In [9]:
print(round(35/(35 + 32) * 100, 1))
print(round(32/(35 + 32) * 100, 1))

52.2
47.8

# Table 3, 4

In [76]:
me = pd.read_csv("../data_input/me2.tsv", sep="\t", header=0, index_col=0)
nm = pd.read_csv("../data_input/nm2.tsv", sep="\t", header=0, index_col=0)

df = pd.concat([me, nm])

df_C_0w = df.T.query("group_timepoint == 'C_0w'").T
df_C_2w = df.T.query("group_timepoint == 'C_2w'").T
df_C_4w = df.T.query("group_timepoint == 'C_4w'").T
df_T_2w = df.T.query("group_timepoint == 'T_2w'").T
df_T_0w = df.T.query("group_timepoint == 'T_0w'").T
df_T_4w = df.T.query("group_timepoint == 'T_4w'").T

pvals_C_2w = pd.read_csv("../data_output/htest_tp/nm2.htest.0w.2w.C.tsv", sep="\t", header=0, index_col=0)
pvals_C_4w = pd.read_csv("../data_output/htest_tp/nm2.htest.0w.4w.C.tsv", sep="\t", header=0, index_col=0)
pvals_T_2w = pd.read_csv("../data_output/htest_tp/nm2.htest.0w.2w.T.tsv", sep="\t", header=0, index_col=0)
pvals_T_4w = pd.read_csv("../data_output/htest_tp/nm2.htest.0w.4w.T.tsv", sep="\t", header=0, index_col=0)

In [87]:
display(df_C_0w.head())
display(df_C_2w.head())
display(df_C_4w.head())
display(df_T_0w.head())
display(df_T_2w.head())
display(df_T_4w.head())

,S004_0w,S009_0w,S013_0w,S021_0w,S032_0w,S033_0w,S035_0w,S037_0w,S044_0w,S055_0w,...,S113_0w,S115_0w,S117_0w,S127_0w,S128_0w,S139_0w,S140_0w,S142_0w,S144_0w,S150_0w
subject_id,S004,S009,S013,S021,S032,S033,S035,S037,S044,S055,...,S113,S115,S117,S127,S128,S139,S140,S142,S144,S150
sex,female,female,female,female,female,female,female,female,female,male,...,female,female,male,male,male,male,male,male,male,male
age,55,36,47,42,29,48,43,51,37,56,...,50,48,48,31,50,28,50,46,54,51
group_raw,B,B,B,B,B,B,B,B,B,B,...,B,B,B,B,B,B,B,B,B,B
group,C,C,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C

,S004_2w,S009_2w,S013_2w,S021_2w,S032_2w,S033_2w,S035_2w,S037_2w,S044_2w,S055_2w,...,S113_2w,S115_2w,S117_2w,S127_2w,S128_2w,S139_2w,S140_2w,S142_2w,S144_2w,S150_2w
subject_id,S004,S009,S013,S021,S032,S033,S035,S037,S044,S055,...,S113,S115,S117,S127,S128,S139,S140,S142,S144,S150
sex,female,female,female,female,female,female,female,female,female,male,...,female,female,male,male,male,male,male,male,male,male
age,55,36,47,42,29,48,43,51,37,56,...,50,48,48,31,50,28,50,46,54,51
group_raw,B,B,B,B,B,B,B,B,B,B,...,B,B,B,B,B,B,B,B,B,B
group,C,C,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C

,S004_4w,S009_4w,S013_4w,S021_4w,S032_4w,S033_4w,S035_4w,S037_4w,S044_4w,S055_4w,...,S113_4w,S115_4w,S117_4w,S127_4w,S128_4w,S139_4w,S140_4w,S142_4w,S144_4w,S150_4w
subject_id,S004,S009,S013,S021,S032,S033,S035,S037,S044,S055,...,S113,S115,S117,S127,S128,S139,S140,S142,S144,S150
sex,female,female,female,female,female,female,female,female,female,male,...,female,female,male,male,male,male,male,male,male,male
age,55,36,47,42,29,48,43,51,37,56,...,50,48,48,31,50,28,50,46,54,51
group_raw,B,B,B,B,B,B,B,B,B,B,...,B,B,B,B,B,B,B,B,B,B
group,C,C,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C

,S005_0w,S008_0w,S011_0w,S016_0w,S019_0w,S023_0w,S028_0w,S031_0w,S034_0w,S036_0w,...,S112_0w,S114_0w,S120_0w,S121_0w,S122_0w,S123_0w,S130_0w,S131_0w,S138_0w,S148_0w
subject_id,S005,S008,S011,S016,S019,S023,S028,S031,S034,S036,...,S112,S114,S120,S121,S122,S123,S130,S131,S138,S148
sex,female,female,female,female,female,male,male,female,female,male,...,male,female,male,female,male,male,male,male,male,female
age,46,56,55,58,23,28,47,51,55,37,...,50,43,21,51,54,55,26,41,52,47
group_raw,A,A,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A
group,T,T,T,T,T,T,T,T,T,T,...,T,T,T,T,T,T,T,T,T,T

,S005_2w,S008_2w,S011_2w,S016_2w,S019_2w,S023_2w,S028_2w,S031_2w,S034_2w,S036_2w,...,S112_2w,S114_2w,S120_2w,S121_2w,S122_2w,S123_2w,S130_2w,S131_2w,S138_2w,S148_2w
subject_id,S005,S008,S011,S016,S019,S023,S028,S031,S034,S036,...,S112,S114,S120,S121,S122,S123,S130,S131,S138,S148
sex,female,female,female,female,female,male,male,female,female,male,...,male,female,male,female,male,male,male,male,male,female
age,46,56,55,58,23,28,47,51,55,37,...,50,43,21,51,54,55,26,41,52,47
group_raw,A,A,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A
group,T,T,T,T,T,T,T,T,T,T,...,T,T,T,T,T,T,T,T,T,T

,S005_4w,S008_4w,S011_4w,S016_4w,S019_4w,S023_4w,S028_4w,S031_4w,S034_4w,S036_4w,...,S112_4w,S114_4w,S120_4w,S121_4w,S122_4w,S123_4w,S130_4w,S131_4w,S138_4w,S148_4w
subject_id,S005,S008,S011,S016,S019,S023,S028,S031,S034,S036,...,S112,S114,S120,S121,S122,S123,S130,S131,S138,S148
sex,female,female,female,female,female,male,male,female,female,male,...,male,female,male,female,male,male,male,male,male,female
age,46,56,55,58,23,28,47,51,55,37,...,50,43,21,51,54,55,26,41,52,47
group_raw,A,A,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A
group,T,T,T,T,T,T,T,T,T,T,...,T,T,T,T,T,T,T,T,T,T

In [88]:
display(df_C_0w.tail())
display(df_C_2w.tail())
display(df_C_4w.tail())
display(df_T_0w.tail())
display(df_T_2w.tail())
display(df_T_4w.tail())

,S004_0w,S009_0w,S013_0w,S021_0w,S032_0w,S033_0w,S035_0w,S037_0w,S044_0w,S055_0w,...,S113_0w,S115_0w,S117_0w,S127_0w,S128_0w,S139_0w,S140_0w,S142_0w,S144_0w,S150_0w
におい,2.6875,3.3,3.33333,3,3,3.09091,3,3,2.44444,3,...,2.33333,3,2.92308,3,3.25,3.07143,3,3,3.78571,2.92857
残便感,2.0625,2.7,2.55556,2.07143,2.18182,2.63636,2,1.5,2,1,...,1.44444,2.78571,2.07692,1.46154,1.625,1.5,1.875,2,1,1.92857
痛み,4,2.6,1.66667,3,2.90909,4,3.42857,3.33333,4,4,...,3.88889,2.35714,3.23077,3.92308,4,3.85714,3.625,4,4,3.07143
排便回数,1.14286,0.714286,0.642857,1,0.785714,0.785714,1,0.857143,0.642857,1,...,0.642857,1,0.928571,0.928571,0.571429,1,0.571429,1,1,1
排便日数,14,10,8,14,11,11,14,11,8,14,...,9,14,12,13,8,14,8,14,14,14

,S004_2w,S009_2w,S013_2w,S021_2w,S032_2w,S033_2w,S035_2w,S037_2w,S044_2w,S055_2w,...,S113_2w,S115_2w,S117_2w,S127_2w,S128_2w,S139_2w,S140_2w,S142_2w,S144_2w,S150_2w
におい,2.91667,3.26667,3.22222,3.07143,3,3.09091,3,3.14286,2.88889,3.14286,...,2.33333,3,2.85714,3.07692,3.3,3.21429,3,3,3.78571,2.93333
残便感,2.83333,2.93333,2.88889,2.28571,2.07143,2.54545,2,1.85714,2.77778,1,...,1.66667,2.35714,1.64286,1.46154,1.7,1.64286,1.5,2.0625,1,2.06667
痛み,3.91667,2.4,2,3,2.92857,4,3.14286,3,4,4,...,3.16667,2.64286,3.42857,3.69231,3.9,3.85714,3.6,4,4,3.06667
排便回数,0.857143,1.07143,0.642857,1,1,0.785714,1,1,0.642857,1,...,0.857143,1,1,0.928571,0.714286,1,0.714286,1.14286,1,1.07143
排便日数,12,10,8,14,14,11,13,14,8,14,...,10,14,11,13,9,14,9,14,14,14

,S004_4w,S009_4w,S013_4w,S021_4w,S032_4w,S033_4w,S035_4w,S037_4w,S044_4w,S055_4w,...,S113_4w,S115_4w,S117_4w,S127_4w,S128_4w,S139_4w,S140_4w,S142_4w,S144_4w,S150_4w
におい,3,3.35714,3.35714,3.5,3,3,3,3,3.25,3,...,1.77778,3,3,3,3.15385,2.92857,3,3,3.30769,3
残便感,2.35714,2.71429,2.5,2.42857,2.3125,2.66667,2,1.42857,2.5,1,...,1.33333,2.23077,1.75,1.38462,1.30769,1.71429,1.33333,2.06667,1,2.21429
痛み,4,2.78571,2.42857,2.71429,2.75,4,3,2.64286,4,4,...,3.11111,2.84615,3.16667,3.92308,4,4,3.88889,4,4,3
排便回数,1,1,1,1,1.14286,0.857143,1.07143,1,0.571429,1,...,0.642857,0.928571,0.857143,0.928571,0.928571,1,0.642857,1.07143,0.928571,1
排便日数,14,11,13,14,14,12,14,14,7,14,...,8,13,11,13,13,14,9,14,13,14

,S005_0w,S008_0w,S011_0w,S016_0w,S019_0w,S023_0w,S028_0w,S031_0w,S034_0w,S036_0w,...,S112_0w,S114_0w,S120_0w,S121_0w,S122_0w,S123_0w,S130_0w,S131_0w,S138_0w,S148_0w
におい,3,2.69231,3,3,3.15385,3.25,3.07692,3.5,3,3,...,3,3,2.6,3,3,1,3.16667,3.125,3.21429,2.88889
残便感,1.1,3.30769,2.57143,2.14286,1.38462,2.25,2.07692,2.16667,3,2.21429,...,1.92308,2,2.3,3.16667,2,2.92857,2.66667,1.875,3.07143,1.11111
痛み,3.5,4,2.92857,2.71429,3.53846,2.75,3.92308,2,3.375,3.64286,...,4,3,2.8,3.83333,3,3.07143,2.25,4,4,4
排便回数,0.714286,0.928571,1,0.5,0.928571,0.571429,0.928571,0.428571,0.571429,1,...,0.928571,0.785714,0.714286,0.428571,1,1,0.857143,0.571429,1,0.642857
排便日数,10,12,14,6,13,7,13,6,8,14,...,13,10,9,6,14,14,12,8,13,8

,S005_2w,S008_2w,S011_2w,S016_2w,S019_2w,S023_2w,S028_2w,S031_2w,S034_2w,S036_2w,...,S112_2w,S114_2w,S120_2w,S121_2w,S122_2w,S123_2w,S130_2w,S131_2w,S138_2w,S148_2w
におい,3,3,3,3,2,3,3.05882,3.25,3,3,...,3.07692,3,3.125,3,3,1,3,3.14286,3,3
残便感,1.22222,3.45455,2.47059,2.14286,1.46154,2.09091,1.76471,2,2.88889,2.07143,...,1.30769,2,2.375,3.14286,2,3,2.23077,2,2.9,1.18182
痛み,3.88889,4,3,3.14286,4,2.81818,3.64706,2.375,3.33333,2.78571,...,3.84615,3,2.5,4,3,3,2,4,4,4
排便回数,0.642857,0.785714,1.21429,0.5,0.928571,0.785714,1.21429,0.571429,0.642857,1,...,0.928571,0.857143,0.571429,0.5,1,1,0.928571,0.5,1.42857,0.785714
排便日数,9,11,14,7,13,10,14,7,9,14,...,12,12,8,7,14,14,12,7,14,9

,S005_4w,S008_4w,S011_4w,S016_4w,S019_4w,S023_4w,S028_4w,S031_4w,S034_4w,S036_4w,...,S112_4w,S114_4w,S120_4w,S121_4w,S122_4w,S123_4w,S130_4w,S131_4w,S138_4w,S148_4w
におい,3,3.08333,3.125,2.875,2,2.91667,3.06667,3.125,3,3,...,3.07692,3,2.66667,3,3,1,3.06667,3,3.23529,3
残便感,1.45455,3.91667,2.5,2.5,1.69231,2,1.4,2.125,1.91667,1.92857,...,1.69231,2,1.88889,3.25,2,3,2.6,1.85714,3,1
痛み,3.54545,4,2.75,3.125,3.30769,3,4,2.5,3.66667,2.85714,...,4,3,3.11111,4,3,3,2.13333,4,4,4
排便回数,0.785714,0.857143,1.14286,0.571429,0.928571,0.857143,1.07143,0.571429,0.857143,1,...,0.928571,1.64286,0.642857,0.571429,1,1,1.07143,0.5,1.21429,0.571429
排便日数,11,12,14,8,13,10,13,7,12,14,...,13,13,8,8,14,14,14,7,13,8

In [82]:
df_out3 = pd.DataFrame(
    index=pvals_C_2w.index
)

for ind in df_out3.index:
    mean_C_0w = df_C_0w.loc[ind].astype(float).mean()
    std_C_0w = df_C_0w.loc[ind].astype(float).std()
    mean_C_2w = df_C_2w.loc[ind].astype(float).mean()
    std_C_2w = df_C_2w.loc[ind].astype(float).std()
    mean_C_4w = df_C_4w.loc[ind].astype(float).mean()
    std_C_4w = df_C_4w.loc[ind].astype(float).std()
    p_C_2w = pvals_C_2w.loc[ind, "wilcoxon"]
    q_C_2w = pvals_C_2w.loc[ind, "wilcoxon_f"]
    p_C_4w = pvals_C_4w.loc[ind, "wilcoxon"]
    q_C_4w = pvals_C_4w.loc[ind, "wilcoxon_f"]
    df_out3.loc[ind, "CF_0w_mean"] = round(mean_C_0w, 2)
    df_out3.loc[ind, "CF_0w_std"] = round(std_C_0w, 2)
    df_out3.loc[ind, "CF_2w_mean"] = round(mean_C_2w, 2)
    df_out3.loc[ind, "CF_2w_std"] = round(std_C_2w, 2)
    df_out3.loc[ind, "CF_pval_2w"] = round(p_C_2w, 3)
    df_out3.loc[ind, "CF_qval_2w"] = round(q_C_2w, 3)
    df_out3.loc[ind, "CF_4w_mean"] = round(mean_C_4w, 2)
    df_out3.loc[ind, "CF_4w_std"] = round(std_C_4w, 2)
    df_out3.loc[ind, "CF_pval_4w"] = round(p_C_4w, 3)
    df_out3.loc[ind, "CF_qval_4w"] = round(q_C_4w, 3)

In [83]:
df_out4 = pd.DataFrame(
    index=pvals_T_2w.index
)

for ind in df_out4.index:
    mean_T_0w = df_T_0w.loc[ind].astype(float).mean()
    std_T_0w = df_T_0w.loc[ind].astype(float).std()
    mean_T_2w = df_T_2w.loc[ind].astype(float).mean()
    std_T_2w = df_T_2w.loc[ind].astype(float).std()
    mean_T_4w = df_T_4w.loc[ind].astype(float).mean()
    std_T_4w = df_T_4w.loc[ind].astype(float).std()
    p_T_2w = pvals_T_2w.loc[ind, "wilcoxon"]
    q_T_2w = pvals_T_2w.loc[ind, "wilcoxon_f"]
    p_T_4w = pvals_T_4w.loc[ind, "wilcoxon"]
    q_T_4w = pvals_T_4w.loc[ind, "wilcoxon_f"]
    df_out4.loc[ind, "FG_0w_mean"] = round(mean_T_0w, 2)
    df_out4.loc[ind, "FG_0w_std"] = round(std_T_0w, 2)
    df_out4.loc[ind, "FG_2w_mean"] = round(mean_T_2w, 2)
    df_out4.loc[ind, "FG_2w_std"] = round(std_T_2w, 2)
    df_out4.loc[ind, "FG_pval_2w"] = round(p_T_2w, 3)
    df_out4.loc[ind, "FG_qval_2w"] = round(q_T_2w, 3)
    df_out4.loc[ind, "FG_4w_mean"] = round(mean_T_4w, 2)
    df_out4.loc[ind, "FG_4w_std"] = round(std_T_4w, 2)
    df_out4.loc[ind, "FG_pval_4w"] = round(p_T_4w, 3)
    df_out4.loc[ind, "FG_qval_4w"] = round(q_T_4w, 3)

In [84]:
df_out3

,CF_0w_mean,CF_0w_std,CF_2w_mean,CF_2w_std,CF_pval_2w,CF_qval_2w,CF_4w_mean,CF_4w_std,CF_pval_4w,CF_qval_4w
IgA,1.37,1.77,2.20,2.67,0.144,0.431,2.04,2.43,0.114,0.341
量,2.31,1.15,2.34,1.21,0.675,0.969,2.35,1.46,0.503,0.646
性状,3.79,0.80,3.74,0.57,0.758,0.969,3.89,0.54,0.432,0.646
色,3.93,0.80,3.93,0.83,0.509,0.916,3.83,0.75,0.299,0.646
におい,3.02,0.26,3.06,0.25,0.031,0.177,3.02,0.28,0.940,0.940
残便感,1.90,0.50,1.91,0.55,0.861,0.969,1.86,0.56,0.433,0.646
痛み,3.47,0.61,3.47,0.55,0.977,0.977,3.48,0.52,0.927,0.940
排便回数,0.83,0.19,0.88,0.21,0.039,0.177,0.91,0.17,0.007,0.059
排便日数,11.29,2.75,11.53,2.73,0.398,0.895,11.91,2.35,0.091,0.341

In [85]:
df_out4

,FG_0w_mean,FG_0w_std,FG_2w_mean,FG_2w_std,FG_pval_2w,FG_qval_2w,FG_4w_mean,FG_4w_std,FG_pval_4w,FG_qval_4w
IgA,1.90,1.79,2.14,2.26,0.598,0.644,2.02,2.68,0.427,0.548
量,2.29,1.12,2.32,1.24,0.644,0.644,2.36,1.18,0.710,0.798
性状,3.71,0.65,3.78,0.60,0.497,0.639,3.83,0.64,0.123,0.359
色,3.94,0.77,3.89,0.75,0.416,0.639,3.93,0.73,1.000,1.000
におい,3.00,0.40,2.96,0.41,0.487,0.639,2.95,0.43,0.322,0.483
残便感,2.20,0.63,2.14,0.59,0.144,0.433,2.11,0.60,0.175,0.359
痛み,3.33,0.66,3.36,0.63,0.304,0.639,3.38,0.58,0.200,0.359
排便回数,0.81,0.21,0.87,0.23,0.007,0.063,0.90,0.26,0.012,0.053
排便日数,10.67,2.85,11.09,2.49,0.113,0.433,11.52,2.72,0.012,0.053

In [86]:
df_out3.to_csv("../data_output/htest_tp/table3.tsv", sep="\t")
df_out4.to_csv("../data_output/htest_tp/table4.tsv", sep="\t")